.textarea{
    position: relative;
    top: 550px;
    left: 150px;
}   

.container {
    display: flex;
    flex-direction: row;
}

.left-side {
    width: 20%; 
}

.contents{
    width: 60%;
}

.right-side {
    width: 20%;
}


#submit {
    background-color: rgb(9, 220, 239);
    
}

hr {
    position: relative;
    top: 530px;

}

::placeholder {
    color: #c7c7c7;
}