.textarea{
    position: fixed;
    top: 560px;
    left: 600px;
    display: flex;
}   

.textarea button {
    margin: 10px 10px 10px 10px;
}
.container {
    display: flex;
    flex-direction: row;

}

.left-side {
    width: 20%; 
}

.contents{
    width: 60%;
    display: flex; 
    flex-direction: column;
    
}

.right-side {
    width: 20%;
}


#submit {
    background-color: rgb(9, 220, 239);
    
}

hr {
    display: none;

}

::placeholder {
    color: #c7c7c7;
}

.moji {
    width: 700px;
    height: 530px;
    list-style-type: none;
    overflow-y: scroll;
    background-color: #c7c7c7;
}

.moji p {
    color: #817f7f;
    margin-left: 230px;
}
.msg {
    
    margin: 10px 10px 10px 10px;
    
    
}

.msg span {
    background-color: rgb(147, 218, 147);
    padding : 3px;
    border-radius: 5px;

}

.msg h6 {
    margin: 0px 0px 0px 0px;

}