<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8">
    <title>匿名掲示板</title>
    <link rel="stylesheet" type="text/css" href="/static/famCH.css">
  </head>

  <body>
    <div class="container">
      <div class="left-side">


      </div>
      <div class="contents">
        <hr>
        <form class="textarea" novalidate action="/famCH" method="post">
            <textarea name="text" rows="3" cols="30" placeholder="匿名投稿です。"></textarea>
            <button id="submit" type="submit">投稿</button>
            <button id="reset" type="reset">🔃</button>
        </form>
        
        <ul class="moji">
          <p>- - -以下匿名の投稿です- - -</p>
          {% for msg in message %}  

            <li class="msg">
              <h6>ID: {{id|safe}} <br> ({{current_time|safe}})</h6>
              <span>{{ msg }}</span>
            </li>

          {% endfor %}        
        </ul>      

      </div>
       <div class="right-side">


      </div>
    </div>
  </body>
</html>
